@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitneymedium.otf');
}

:root {
  --bg-color-main: rgb(47, 49, 54);
  --bg-sidebar-color: rgb(40, 42, 47);
  --bg-chat-color: rgb(55, 57, 62);
  --bg-chat-input-color: rgb(65, 68, 74);
  --bg-message-color: rgb(51, 53, 58);
  --bg-join-input-color: rgb(32, 34, 37);
  --chat-input-placeholder-color: rgb(115, 118, 124);
  --chat-input-color: rgb(204, 205, 207);
  --primary-color: rgb(91, 103, 234);
  --primary-color-hover: rgb(73, 82, 189);
  --primary-paragraph-color: rgb(158, 159, 163);
  --light-color: rgb(214, 214, 216);
  --success-color: #5cb85c;
  --error-color: rgb(215, 79, 75);

  --chat-input-caret-color: rgb(220, 221, 222);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Whitney', sans-serif;
  font-size: 1rem;
  background: var(--bg-color-main);
}

h1 {
  color: #fff;
}

input {
  font-family: 'Whitney', sans-serif;
}

button {
  font-family: 'Whitney', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
  caret-color: var(--chat-input-caret-color);
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 1rem;
  background: var(--primary-color);
  border-radius: 8px;
  color: var(--light-color);
  border: 0;
  font-size: 17px;
}

.btn:hover {
  background: var(--primary-color-hover);
}

/* Chat Page */
.chat-container {
  max-width: 1100px;
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background: var(--bg-color-main);
  color: var(--light-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header .btn {
  background: var(--bg-sidebar-color);
}

.chat-header .btn:hover {
  background: rgba(0, 0, 0, 0.35);
  color: var(--error-color);
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--bg-sidebar-color);
  color: var(--light-color);
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 1.25rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar i {
  margin-right: 0.3rem;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--primary-paragraph-color);
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  /* padding: 30px; */
  max-height: 500px;
  overflow-y: scroll;
  background-color: var(--bg-chat-color);
}

.chat-messages .message {
  padding: 0.3rem 2rem;
  margin-bottom: 15px;
  background-color: var(--bg-message-color);
  color: var(--light-color);
  /* border-radius: 5px; */
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 7px;
}

.chat-messages .message .meta.current-user {
  color: var(--success-color);
}

.chat-messages .message .meta span {
  font-weight: normal;
  color: rgb(131, 133, 137);
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--bg-color-main);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 5px 12px;
  height: 40px;
  flex: 1;
  border-radius: 8px;
  background-color: var(--bg-chat-input-color);
  color: var(--chat-input-color);
  border: none;
}

.chat-form-container input[type='text']::placeholder {
  color: var(--chat-input-placeholder-color);
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: var(--light-color);
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--bg-color-main);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-header h1 {
  margin-bottom: 1rem;
}

.join-header p {
  color: var(--primary-paragraph-color);
}

.join-main {
  padding: 0.8rem 3rem;
  background: var(--bg-color-main);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--primary-paragraph-color);
}

.join-main label[for='username']:after {
  content: ' *';
  color: var(--error-color);
}

.join-main input[type='text'] {
  width: 100%;
  font-size: 16px;
  padding: 5px 12px;
  height: 40px;
  flex: 1;
  border-radius: 8px;
  background-color: var(--bg-chat-input-color);
  color: var(--chat-input-color);
  border: none;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  background-color: var(--bg-chat-input-color);
  color: var(--chat-input-color);
}

.join-main .btn {
  margin-top: 20px;
  margin-left: 0;
  padding: 0.75rem 1.25rem;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
